* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;


}

/* Nav section */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-icon-with-website-name {
    display: flex;

}

.nav-icon-with-website-name img {
    width: 40px;
    height: 30px;


}

.nav-icon-name {
    font-weight: 800;
    font-size: 36px;

}

.nav-icon-name-span {
    color: #FF5400;
}

.nav-all-link-text>ul {
    display: flex;
    list-style: none;

}

.nav-all-link-text li {
    margin-left: 7%;
}

.nav-all-link-text a {
    text-decoration: none;
}





/* First section */

.first-section {
    position: relative;
    height: 500px;
    width: 90%;
    margin: 2% 6%;
    background-image: url(./Image/Explore-travels.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.first-section-text {
    padding: 5% 25%;
    text-align: center;
}

.find-now-option-size {
    width: 160px;
    height: 52px;
    border-radius: 8px;
    margin-left: 2%;
}

.find-now-option-input-size {
    width: 160px;
    height: 46px;
    border-radius: 8px;
    padding-left: 14px;
}

.find-now-option {
    border-radius: 8px;
    margin-left: 20%;
    width: 719px;
    height: 53px;
    background: rgba(228, 239, 255, 0.3);
    padding: 15px;
}

.find-now-option button {
    background: #FF5400;
    color: aliceblue;
}

.find-now-btn {
    margin-left: 5px;
}

/* SECOND SECTION  */
.second-section {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    margin: 7% 6% 0 6%;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

.second-section h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.second-section button {
    background: #FF5400;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    margin-top: 36px;
}

.second-section-picture {
    position: absolute;
    width: 540px;
    height: 550px;
    right: 5%;
}

/* SECTION THREE */
.choose-your-destination {
    text-align: center;
    margin-top: 10%;
}

.section-title-destini {
    width: 700px;
    margin: 0 auto;
}

.maldives-indonesia-picture {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.maldives {
    background-image: url(./Image/Maldives.png);
}

.indonesia {
    background-image: url(./Image/Indonesia.png);
}

.destination-picture-destini {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 150px;
    width: 100%;
    padding-top: 150px;
    color: aliceblue;
}

.srilanka-northAmarica-kashmir-Picture {
    display: grid;
    grid-template-columns: 29% 40% 29%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.srilanka {
    background-image: url(./Image/Srilanka.png);
}

.north-amarica {
    background-image: url(./Image/North-Amarica.png);
}

.kashmir {
    background-image: url(./image/Kashmir.png);
}

.bangladesh-bandarbon {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.bangladesh {
    background-image: url(./image/Bangladesh.png);
}

.bandarbon {
    background-image: url(./Image/Bandarbon.png);
}

/* section four */
.section-four {
    margin: 7% 5%;
}

.section-four-text {
    text-align: center;
}

.hotel-service-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
    line-height: 25px;
}

.cards img {
    height: 65px;
    width: 64px;
}

.card-destini {
    padding: 14px 7%;
    background-color: #FBB56333;
    height: 270px;
    border-radius: 8px;
}

.price-tag {
    height: 270px;
    width: 500px;
    padding: 14px 73px;
    border-radius: 8px;
    background: #E9444433;
    margin: 2% auto;
}

/* section 6 */

.section-6-video-with-information {
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 0 6%;
    padding: 1% 3%;
    gap: 3%;

}

.section-6-video-with-information-div-one {
    position: relative;
    line-height: 28px;
    height: 432px;
}

.section-6-video-with-information-div-two {
    height: 432px;
}

.video-img-destini {
    height: 424px;
    width: 610px;
    border-radius: 16px;
}

.video-img-video {
    opacity: 0.4;
}

.video-img {
    position: relative;
    /* top: 3353px; */
    top: -429px;
    z-index: -1;
}

.video-text {
    position: relative;
    top: -680px;
    padding-left: 79px;
    color: whitesmoke;
    opacity: 0.9;
}

.btn-section-six {
    background-color: rgba(255, 84, 0, 1);
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-top: 17%;
}


/* section 7-8 */
.newsletter-picture {
    background-image: url(./image/section-7.png);
    width: 672px;
    height: 422px;


}

.newsletter-picture-discount-text {
    background-color: #FF5400;
    text-align: center;
    width: 46%;
    height: 26%;
    border-radius: 14px;
    color: white;
    padding-top: 2px;
    position: relative;
    top: 57%;
    left: 52%;
    transform: rotate(-27deg);

}

.section-seven--with-discount {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 432px;
    margin: 5% 6%;
    gap: 5%;
}

.form-section {
    height: 91%;
    width: 95%;
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 8px;
}

.from-section-text {
    padding-bottom: 15px;
}

hr {
    margin: 20px 0;
}

.input-feild {
    height: 52px;
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
}

.input-feild-btn {
    height: 58px;
    margin-top: 20px;
    width: 102%;
    background-color: #FF5400;
    color: wheat;
    border-radius: 8px;
}

.newsletter-pictur {
    height: 100%;
    width: 100%;
}

.display-block {
    display: block;
}



/* Footer */

.footer {

    background-color: rgba(19, 19, 24, 0.05);
    padding: 200px;
}

.discount-body {
    background-color: #FF5400;
    color: white;
    text-align: center;
    height: 110px;
    width: 250px;
    border-radius: 18px;
    padding-top: 1px;
}


.primary-color {
    color: #FF5400;
}

.footer-div-name-company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

.footer-div-name-company img {
    width: 50px;
    height: 46px;
}

.footer-div-name-company h1 {
    margin-left: 1rem;
    font-size: 40px;
    font-weight: 800;
}

.footer-div-two {

    text-align: center;
}

.icon-footer {
    text-align: center;
}

.icon-footer i {
    margin: 1rem;
}

.footer-copyright-sections {
    text-align: center;
}