* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;


}

/* Nav section */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-icon-with-website-name {
    /* display: grid;
    grid-template-columns: repeat(1fr, 1fr); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.nav-icon-with-website-name img {
    width: 40px;
    height: 35px;


}

.nav-icon-name {
    font-weight: 800;
    font-size: 36px;

}

.nav-icon-name-span {
    color: #FF5400;
}

.nav-all-link-text>ul {
    display: flex;
    list-style: none;

}

.nav-all-link-text li {
    margin-left: 7%;
}

.nav-all-link-text a {
    text-decoration: none;
}

.menu-icon {
    display: none;
}




/* First section */
/* .media-quary {
    display: none;
} */

.first-section {
    position: relative;
    height: 500px;
    width: 90%;
    margin: 2% 6%;
    background-image: url(./Image/Explore-travels.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.first-section-text {
    padding: 5% 25%;
    text-align: center;
}

.find-now-option-size {
    width: 160px;
    height: 52px;
    border-radius: 8px;
    margin-left: 2%;
}

.find-now-option-input-size {
    width: 160px;
    height: 46px;
    border-radius: 8px;
    padding-left: 14px;
}

.find-now-option {
    border-radius: 8px;
    margin-left: 20%;
    width: 719px;
    height: 53px;
    background: rgba(228, 239, 255, 0.3);
    padding: 15px;
}

.find-now-option button {
    background: #FF5400;
    color: aliceblue;
}

.find-now-btn {
    margin-left: 5px;
}

/* SECOND SECTION  */
.second-section {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    margin: 7% 6% 0 6%;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

.second-section h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.second-section button {
    background: #FF5400;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    margin-top: 36px;
}

.second-section-picture {
    position: absolute;
    width: 540px;
    height: 550px;
    right: 5%;
}

/* SECTION THREE */
.choose-your-destination {
    text-align: center;
    margin-top: 10%;
}

.section-title-destini {
    width: 700px;
    margin: 0 auto;
}

.maldives-indonesia-picture {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.maldives {
    background-image: url(./Image/Maldives.png);
}

.indonesia {
    background-image: url(./Image/Indonesia.png);
}

.destination-picture-destini {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 150px;
    width: 100%;
    padding-top: 150px;
    color: aliceblue;
}

.srilanka-northAmarica-kashmir-Picture {
    display: grid;
    grid-template-columns: 29% 40% 29%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.srilanka {
    background-image: url(./Image/Srilanka.png);
}

.north-amarica {
    background-image: url(./Image/North-Amarica.png);
}

.kashmir {
    background-image: url(./Image/Kashmir.png);
}

.bangladesh-bandarbon {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.bangladesh {
    background-image: url(./Image/Bangladesh.png);
}

.bandarbon {
    background-image: url(./Image/Bandarbon.png);
}

/* section four */
.section-four {
    margin: 7% 5%;
}

.section-four-text {
    text-align: center;
}

.hotel-service-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
    line-height: 25px;
}

.cards img {
    height: 65px;
    width: 64px;
}

.hotels-card {
    background-color: #FBB56333;
}

.service-card {
    background-color: rgba(41, 206, 246, 0.2);
}

.card-destini {
    padding: 14px 7%;
    height: 270px;
    border-radius: 8px;
}

.price-tag {
    height: 270px;
    width: 500px;
    padding: 14px 73px;
    border-radius: 8px;
    background: #E9444433;
    margin: 2% auto;
}


/* Section Five */
.section-five {
    margin: 0 6%;
}

.section-five-destini {

    height: 500px;
    width: 1170px;
    margin: 3% auto;
    align-items: center;
}

.section-five-first-div {
    background-image: url(./Image/seven-section-first-div-img.png);
}

.section-five-second-div {
    background-image: url(./Image/five-section-second-img.png);
    height: 500px;
    width: 1170px;
    margin: 3% auto;


}

.section-five-third-div {
    background-image: url(./Image/seven-section-first-div-img.png);
}





/* section 6 */

.section-6-video-with-information {
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 0 6%;
    padding: 1% 3%;
    gap: 3%;

}

.section-6-video-with-information-div-one {
    position: relative;
    line-height: 28px;
    height: 432px;
}

.section-6-video-with-information-div-two {
    height: 432px;
}

.video-img-destini {
    height: 424px;
    width: 610px;
    border-radius: 16px;
}

.video-img-video {
    opacity: 0.4;
}

.video-img {
    position: relative;

    top: -429px;
    z-index: -1;
}

.video-text {
    position: relative;
    top: -680px;
    padding-left: 79px;
    color: whitesmoke;
    opacity: 0.9;
}

.btn-section-six {
    background-color: rgba(255, 84, 0, 1);
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-top: 17%;
}


/* section 7-8 */
.newsletter-picture {
    background-image: url(./Image/section-7.png);
    width: 672px;
    height: 422px;


}

.newsletter-picture-discount-text {
    background-color: #FF5400;
    text-align: center;
    width: 46%;
    height: 26%;
    border-radius: 14px;
    color: white;
    padding-top: 2px;
    position: relative;
    top: 57%;
    left: 52%;
    transform: rotate(-27deg);

}

.section-seven--with-discount {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 432px;
    margin: 5% 6%;
    gap: 5%;
}

.form-section {
    height: 91%;
    width: 95%;
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 8px;
}

.from-section-text {
    padding-bottom: 15px;
}

hr {
    margin: 20px 0;
}

.input-feild {
    height: 52px;
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
}

.input-feild-btn {
    height: 58px;
    margin-top: 20px;
    width: 102%;
    background-color: #FF5400;
    color: wheat;
    border-radius: 8px;
}

.newsletter-pictur {
    height: 100%;
    width: 100%;
}

.display-block {
    display: block;
}


/* Section eight */
.blogs-title {
    width: 200px;
    border-left: 10px solid red;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 800;
}

.blogs {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 5% 6%;
}

.blog {
    border: 1px solid salmon;
    padding: 5%;
    border-left: 10px solid rgb(231, 52, 255);
    border-radius: 8px;
}

/* Footer */

.footer {

    background-color: rgba(19, 19, 24, 0.05);
    padding: 0px 10%;
}

.discount-body {
    background-color: #FF5400;
    color: white;
    text-align: center;
    height: 110px;
    width: 250px;
    border-radius: 18px;
    padding-top: 1px;
}


.primary-color {
    color: #FF5400;
}

.footer-div-name-company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

.footer-div-name-company img {
    width: 50px;
    height: 46px;
}

.footer-div-name-company h1 {
    margin-left: 1rem;
    font-size: 40px;
    font-weight: 800;
}

.footer-div-two {

    text-align: center;
}

.icon-footer {
    text-align: center;
}

.icon-footer i {
    margin: 1rem;
}

.footer-copyright-sections {
    text-align: center;
}

/* mobile responsive start */

@media screen and (max-width: 600px) {

    .nav-all-link-text {
        display: none;
    }

    .nav-icon-with-website-name {
        position: absolute;
        left: 15%;
        margin-bottom: 35px;
        margin-top: 30px;
    }

    .nav-icon-with-website-name img {
        height: 15px;
        width: 15px;
    }

    .nav-icon-name {
        font-size: 15px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 0px;
        padding-right: 20px;
        top: 4px;
    }

    .find-now-option {
        width: 170px;
        height: 140px;
        margin-left: 32%;
    }

    .find-now-option-size {
        height: 30px;
        width: 175px;
        margin-bottom: 5px;
    }

    .find-now-option-input-size {
        height: 30px;
        margin-bottom: 5px;
    }

    .second-section {
        display: block;
    }

    .second-section-picture {
        margin-top: 30px;
    }

    .choose-your-destination {
        display: block;
        margin-top: 108%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .div-size-500 {
        width: 500px;
    }

    .d-block {
        display: block;
    }

    .TB-margin {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .price-tag {
        margin: 0 10px;
        padding: 0 15px;
        width: 490px;
    }

    .deal-discount-div {
        margin: 0 10px;
        padding: 0 15px;
        width: 490px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .video-picture-size {
        margin: 0 10px;
        padding: 0 0px;
        width: 490px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .discount-seventy-parsent-img {
        margin: 5% 3%;
        width: 500px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .section-eight {
        margin-top: 470px;
    }

    .footer {
        margin: 32% 0 0 0;
    }


}