:root {
    --primary-color: #FF5400;
}



.first-section {
    position: relative;
    height: 500px;
    width: 90%;
    margin: 2% 6%;
    background-image: url('/Image/Explore-travels.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.first-section-text {
    padding: 5% 25%;
    text-align: center;
}

.find-now-option-size {
    width: 160px;
    height: 52px;
    border-radius: 8px;
    margin-left: 2%;
}

.find-now-option-input-size {
    width: 160px;

    height: 46px;
    border-radius: 8px;
    padding-left: 14px;
}

.find-now-option {
    border-radius: 8px;
    margin-left: 20%;
    width: 719px;
    height: 53px;
    background: rgba(228, 239, 255, 0.3);
    padding: 15px;
}

.find-now-option button {
    background: #FF5400;
    color: aliceblue;
}

.find-now-btn {
    margin-left: 5px;
}

/* SECOND SECTION  */
.second-section {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    margin: 7% 6% 0 6%;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

.second-section h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.second-section button {
    background: #FF5400;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    margin-top: 36px;
}

.second-section-picture {
    position: absolute;
    width: 540px;
    height: 550px;
    right: 5%;
}

/* SECTION THREE */
.choose-your-destination {
    text-align: center;
    margin-top: 10%;
}

.section-title-destini {
    width: 700px;
    margin: 0 auto;
}

.maldives-indonesia-picture {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.maldives {
    background-image: url(/Image/Maldives.png);
}

.indonesia {
    background-image: url(/Image/Indonesia.png);
}

.destination-picture-destini {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 150px;
    width: 100%;
    padding-top: 150px;
    color: aliceblue;
}

.srilanka-northAmarica-kashmir-Picture {
    display: grid;
    grid-template-columns: 29% 40% 29%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.srilanka {
    background-image: url(/Image/Srilanka.png);
}

.north-amarica {
    background-image: url(/Image/North-Amarica.png);
}

.kashmir {
    background-image: url(/Image/Kashmir.png);
}

.bangladesh-bandarbon {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 3% 6% 0 6%;
    gap: 2%;
}

.bangladesh {
    background-image: url(/Image/Bangladesh.png);
}

.bandarbon {
    background-image: url(/Image/Bandarbon.png);
}

/* section four */
.section-four {
    margin: 7% 5%;
}

.section-four-text {
    text-align: center;
}

.hotel-service-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
    line-height: 25px;
}

.cards img {
    height: 65px;
    width: 64px;
}

.card-destini {
    padding: 14px 7%;
    background-color: #FBB56333;
    height: 270px;
    border-radius: 8px;
}

.price-tag {
    height: 270px;
    width: 500px;
    padding: 14px 73px;
    border-radius: 8px;
    background: #E9444433;
    margin: 2% auto;
}



/* Footer */
.primary-color {
    color: #FF5400;
}

.footer-div {
    display: flex;
    justify-content: center;
    margin: 1%;

}

.footer-div h1 {
    margin-left: 1rem;
}

.footer-div-two {

    text-align: center;
}

.icon-footer {
    text-align: center;
}

.icon-footer i {
    margin: 1rem;
}

.footer-copyright-sections {
    text-align: center;
}